nav.navbar.navbar-inverse(role='navigation', style='padding-left:130px;')
      ul.nav.navbar-nav
        li(class=(slug === "/joke"? "active": ""))
          a(href='/joke') All Jokes
        li(class=(slug === "/joke/jokeOfTheDay"? "active": ""))
          a(href='/joke/jokeOfTheDay') Joke Of The Day